<div id="body">
    <div class="row">
        <div class="col-sm-3">
            <div class="card white">
                <div class="card-block">
                    <h3 class="card-title">1,2 m</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Total Revenue</h6>
                    
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card white-background">
                <div class="card-block">
                    <h3 class="card-title">Title</h3>
                    <p class="card-text">This is some text within a card block.</p>
                </div>
            </div>
        </div>
    </div>
</div>