a{
    color: black;
}
a:hover {
    text-decoration: none;
    color: blue;
}

.card {
    width: 90%;
}


.spacing {
    margin-top: 45px;
}

.center {
    align-self: center;
    align-content: center;
    align-items: center;
}
