<div class="col-sm-6 offset-sm-1">
    <form #search="ngForm" (ngSubmit)="onSubmit(search)" class="search-form">
        <input ngModel #searchText="ngModel" name="searchText" type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" />
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <div *ngFor="let product of displayData" class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-block">
                    <a routerLink="/product/{{product.ProductCode}}"><h4 class="card-title">{{product.ProductCode}}</h4></a>
                    <h6 class="product-group card-subtitle mb-2">{{product.ProductGroup}}</h6>
                    <p class="card-text">{{product.ProductDescription}}</p>
                    <div class="availability">
                        <h5 *ngIf="product.ProductStock <= 0 " class="unavailable">Unavailable</h5>
                        <h5 *ngIf="product.ProductStock > 0 " class="available">Available</h5>
                    </div>
                    <a href="#" class="card-link see-orders">See Orders</a>
                    <br>
                    <a href="#" class="card-link">See warehouse distribution</a>
                  </div>
              </div>
        </div>
    </div>
</div>
