<div class="container-fluid main">
	<div class = "row">
        <div class="col">
            <h1>Client Information</h1>

            <h3>Name</h3>
            <p>{{ client?.CompanyName }}</p>

            <h3>Email</h3>
            <p>{{ client ? client.CustomerEmail : 'No email available.' }}</p>

            <h3>Telephone</h3>
            <p>{{ client ? client.Telephone : 'No telephone available.'  }}</p>

            <h3>Website</h3>
            <p>{{ client ? client.Website : 'No website available.' }}</p>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h1>Sales</h1>
                    <h3>Number of sales</h3>
                    <p>{{ client ? client.NumberPurchases : 'No data available' }}</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <h1>Sales</h1>
                </div>
            </div>
        </div>
    </div>
</div>