<div *ngIf="!client">
    <h1>There is no information about this client.</h1>
</div>
<div *ngIf="client" class="container-fluid main">
	<div class = "row">
        <div class="col">
            <h1>Client Information</h1>

            <h3>Name</h3>
            <p>{{ client?.CompanyName }}</p>

            <h3>Email</h3>
            <p>{{ client ? client.CustomerEmail : 'No email available.' }}</p>

            <h3>Telephone</h3>
            <p>{{ client ? client.Telephone : 'No telephone available.'  }}</p>

            <h3>Website</h3>
            <p>{{ client ? client.Website : 'No website available.' }}</p>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col">
                    <h1>Sales</h1>
                    <h3>Number of sales</h3>
                    <p>{{ client ? client.NumberPurchases : 'No data available' }}</p>

                    <table style="width:100%;table-layout:fixed;text-align:center;">
                            <tr style="border-bottom: 1px solid #e6e6e6;">
                                <th style="text-align:center;">Document Number</th>
                                <th style="text-align:center;">Date</th>
                            </tr>
                          
                            <tr *ngFor='let sale of clientSales'>
                                <a routerLink="/sale/{{sale?.NumDoc}}"><td style="padding-right:0px;">{{sale?.NumDoc}}</td></a>
                                <td style="padding-right:0px;">{{convertToDate(sale?.Data)}}</td>
                            </tr>
                        </table>

                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <h1>Orders</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>