<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="card"> 
                <div class="card-block" style="margin-top: 15px;">
                    <h5 class="product-group card-subtitle mb-2">Client: <span class="info-client">{{data?.doc.Entidade}}</span></h5>
                    <h5 class="product-group card-subtitle mb-2">Date: <span class="info-client"> {{utilsService.convertToDate(data?.doc.Data)}}</span></h5>
                    <h5 class="product-group card-subtitle mb-2">Doc Id: <span class="info-client">{{data?.doc.Id}}</span></h5>
                    <h5 class="product-group card-subtitle mb-2">No. Doc: <span class="info-client">{{data?.doc.NumDoc}}</span></h5>
                    <h5 class="product-group card-subtitle mb-2">Total Merc: <span class="info-client">{{data?.doc.TotalMerc}}</span></h5>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-block">
                    <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
                    </canvas>
                </div>
            </div>
            <div style="margin-top: 40px;">
                <div class="card white">
                    <div class="card-block">
                        <table style="width:100%;table-layout:fixed;text-align:center;">
                            <tr style="border-bottom: 1px solid #e6e6e6;">
                                <th style="text-align:center;">Product Code</th>
                                <th style="text-align:center;">Quantity</th>
                                <th style="text-align:center;">Price Unit</th>
                                <th style="text-align:center;">Discount</th>
                                <th style="text-align:center;">Total Price</th>
                            </tr>
                            <tr *ngFor="let line of data?.lines">
                                <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.CodArtigo}}</td>
                                <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.Quantidade}}</td>
                                <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.PrecoUnitario}}</td>
                                <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.Desconto}}</td>
                                <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.TotalLiquido}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    