<div class="container-fluid">
    <div class="card main">
        <h1 class="card-header">Sale Order</h1>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-block" style="margin-top: 15px;">
                            <h3 class="product-group card-subtitle mb-2">Client ID</h3>
                                <a routerLink="/client/{{data?.doc.Entidade}}"><p class="info-client">{{data?.doc.Entidade}}</p></a>
                            
                            <h3 class="product-group card-subtitle mb-2">Date</h3>
                                <p class="info-client"> {{utilsService.convertToDate(data?.doc.Data)}}</p>
                            
                            <h3 class="product-group card-subtitle mb-2">Document ID</h3>
                                <p class="info-client">{{data?.doc.Id}}</p>
                            
                            <h3 class="product-group card-subtitle mb-2">Document number</h3>
                                <p class="info-client">{{data?.doc.NumDoc}}</p>
                            
                            <h3 class="product-group card-subtitle mb-2">Total merchandise value</h3>
                                <p class="info-client">{{data?.doc.TotalMerc}}€</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div style="margin-top: 40px;">
                        <div class="card white">
                            <div class="card-block">
                                <h3>Products</h3>
                                <br>
                                <table style="width:100%;table-layout:fixed;text-align:center;">
                                    <tr style="border-bottom: 1px solid #e6e6e6;">
                                        <th style="text-align:center;">Product Code</th>
                                        <th style="text-align:center;">Quantity</th>
                                        <th style="text-align:center;">Unit Price (€)</th>
                                        <th style="text-align:center;">Discount (€)</th>
                                        <th style="text-align:center;">Total Price (€)</th>
                                    </tr>
                                    <tr *ngFor="let line of data?.lines">
                                        <a routerLink="/product/{{line?.CodArtigo}}"><td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.CodArtigo}}</td></a>
                                        <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.Quantidade}}</td>
                                        <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.PrecoUnitario}}</td>
                                        <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.Desconto}}</td>
                                        <td *ngIf="line.CodArtigo != ''" style="padding-right:0px;">{{line?.TotalLiquido}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>