<div id="body">
    <div class="container-fluid">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-4">
                <div class="card white">
                    <div class="card-block">
                        <h2 class="card-title" style="font-size: 50px; font-weight:800; color: red;text-align:center;">{{data.TotalRevenue}}</h2>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align:center;">Total Revenue</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card white-background">
                    <div class="card-block">
                        <h2 class="card-title" style="font-size: 50px; font-weight:800; color: red;text-align:center;">{{data.TotalSales}} € </h2>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align:center;">Sales</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card white-background">
                    <div class="card-block">
                        <h2 class="card-title" style="font-size: 50px; font-weight:800; color: red;text-align:center;">{{data.accountsPayable}} €</h2>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align:center;">Accounts Payable</h6>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-4">
                <div class="card white">
                    <div class="card-block">

                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            google.charts.load('current', { 'packages': ['corechart'] });
                            google.charts.setOnLoadCallback(drawChart);

                            function drawChart() {

                                var data = google.visualization.arrayToDataTable([
                                  ['Task', 'Hours per Day'],
                                  ['Tech', 11],
                                  ['Arts', 2],
                                  ['Health', 2],
                                  ['Groceries', 2],
                                  ['Office', 7]
                                ]);

                                var options = {
                                    title: 'Sales by Articles',
                                    pieHole: 0.4,
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                                chart.draw(data, options);
                            }
                        </script>
                        <div id="piechart" class="container-fluid" style="width:100%"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card white">
                    <div class="card-block">
                        <script type="text/javascript">
                            google.charts.load('current', { 'packages': ['corechart'] });
                            google.charts.setOnLoadCallback(drawChart);

                            function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                  ['Year', 'Sales', 'Expenses'],
                                  ['2004', 1000, 400],
                                  ['2005', 1170, 460],
                                  ['2006', 660, 1120],
                                  ['2007', 1030, 540]
                                ]);

                                var options = {
                                    title: 'Company Performance',
                                    curveType: 'function',
                                    legend: { position: 'bottom' }
                                };

                                var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart'));

                                chart2.draw(data, options);
                            }
                        </script>
                        <div id="curve_chart" class="container-fluid" style="width:100%"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="card white-background">
                    <div class="card-block">
                        <h2 class="card-title" style="font-size: 50px; font-weight:800; color: red;text-align:center;">{{data.accountsReceivable}} €</h2>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align:center;">Accounts Receivable</h6>
                    </div>
                </div>


                <div class="card white-background" style="margin-top:40px;">
                    <div class="card-block">
                        <h2 class="card-title" style="font-size: 50px; font-weight:800; color: red;text-align:center;">{{data.numSales}}</h2>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align:center;">Sales Orders</h6>
                    </div>
                </div>

            </div>

        </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-8" >
            <div class="card white">
                <div class="card-block">
                    <table style="width:100%;table-layout:fixed;text-align:center;">
                        <tr style="border-bottom: 1px solid #e6e6e6;">
                            <th style="text-align:center;">Article</th>
                            <th style="text-align:center;">Quantity Available</th>
                            <th style="text-align:center;">Warehouse</th>
                        </tr>
                        <!--@foreach (var article in ViewBag.articles)
                        {
                            <tr>
                                <td title="@article.DescArtigo" style="padding-right:0px;">@article.CodArtigo</td>
                                <td style="padding-right:0px;">@article.STKAtual</td>
                                <td style="padding-right:0px;">@article.Localizacao</td>
                            </tr>
                        }-->

                        <tr>
                            <td style="padding-right:0px;">article2</td>
                            <td style="padding-right:0px;">1 500</td>
                            <td style="padding-right:0px;">location2</td>
                        <tr>
                        <tr>
                            <td style="padding-right:0px;">article3</td>
                            <td style="padding-right:0px;">3 219</td>
                            <td style="padding-right:0px;">location3</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px;">article4</td>
                            <td style="padding-right:0px;">15 231</td>
                            <td style="padding-right:0px;">location4</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px;">article5</td>
                            <td style="padding-right:0px;">34 567</td>
                            <td style="padding-right:0px;">location5</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px;">article6</td>
                            <td style="padding-right:0px;">234 658</td>
                            <td style="padding-right:0px;">location6</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card white-background">
                <div class="card-block">
                    <h2 class="card-title" style="font-size: 50px; font-weight:800; color: red;text-align:center;">{{data.numPurchases}}</h2>
                    <h6 class="card-subtitle mb-2 text-muted" style="text-align:center;">Purchase Orders</h6>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
