<div *ngIf="!data">
    <h1>There is no information about this client.</h1>
</div>
<div *ngIf="data" class="main">
	<div class="row">
        <div class="col">
            <div class="card">
                <h1 class="card-header">Supplier information</h1>
                <div class="card-block">
                    <h3>Name</h3>
                    <p>{{ data?.Nome }}</p>

                    <h3>Telephone</h3>
                    <p>{{ data.Telefone ? data.Telefone : 'No telephone available.'  }}</p>

                    <h3>Tax Number</h3>
                    <p>{{ data.Contribuinte ? data.Contribuinte : 'No tax number available.' }}</p>

                    <h5>Supplier code</h5>
                    <p>{{ data.CodFornecedor ? data.CodFornecedor : 'No code available.' }}</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h1 class="card-header">Purchase orders</h1>
                        <div class="card-block">
                            <h6>Number of orders</h6>
                            <p>{{purchaseOrders?.length}}</p>
                            <table style="width:100%;table-layout:fixed;text-align:center;">
                                <tr style="border-bottom: 1px solid #e6e6e6;">
                                    <th style="text-align:center;">Document Number</th>
                                    <th style="text-align:center;">Date</th>
                                </tr>

                                <tr *ngFor='let purchase of purchaseOrders'>
                                    <a routerLink="/purchase/{{purchase?.Id}}"><td style="padding-right:0px;">{{purchase?.NumDoc}}</td></a>
                                    <td style="padding-right:0px;">{{utilsService.convertToDate(purchase?.Data)}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
