
.card {
    padding: 5px 5px 5px 8px;
    margin: 25px 0;
}

a, a:hover{
    text-decoration: none;
}

.card-title{
    color: orange;
    text-align: center;
}

.no-padding{
    padding: 0px;
}

.no-margin{
    margin: 0px;
}

.idCard{
    height: auto;
}

.card-text.mb-2{
    margin: 15px 0;
}

.product-total-profit{
    background: orange;
    text-align: center;
    color: white;
    padding: 10px 0;
    margin: 20px 0;
}

.product-details-btn{
    width: 100%;
    margin: 10px;
    height: 50px;
    background: #edecec;
}

.product-details-btn:hover{
    color: white;
    background: #9f9191;
}