@{
    ViewBag.Title = "ProductDetails";
}

<h2>Product Details</h2>

@foreach (var artigo in ViewBag.artigos)
{
    <div class="artigo">
        @artigo.Code
        @artigo.Tipo
        @artigo.Stock
    </div>
}