<div class="col-sm-4 offset-sm-4">
    <form #search="ngForm" (ngSubmit)="onSubmit(search)" class="search-form">
        <div class="search-container">
            <label for="search-bar"><i class="fa fa-search"></i></label>
            <input id="search-bar" ngModel #searchText="ngModel" name="searchText" type="text" placeholder="Search" autocomplete="off"/>
        </div>
    </form>
</div>

<!--div class="container-fluid">
	<div class="row" style="margin-top: 40px;">
		<div class="col-sm-12 col-lg-8 offset-lg-2">
			<div class="card white">
				<div class="card-block">
					<table class="table table-hover" style="width:100%;table-layout:fixed;text-align:center;">
						<thead>
							<tr style="border-bottom: 1px solid #e6e6e6;">
								<th style="text-align:center;">Client Code</th>
								<th style="text-align:center;">Name</th>
								<th style="text-align:center;">Total Sales YTD(€)</th>
							</tr>
						</thead>
						<tbody *ngFor="let client of displayData; let i=index">
							<tr data-toggle="collapse" [attr.data-target]="'#' + i" class="clickable">
								<td>{{client.CustomerID}}</td>
								<td>{{client.CustomerName}}</td>
								<td>{{client.NumberPurchases}}</td>
							</tr>
							<tr class="collapse" [attr.id]="i">
								<td colspan="3">
									<div class="row" style="margin-top:10px;">
										<div class="col-sm-6 offset-sm-1" style="text-align: left;">
											<p>Código: {{client.CustomerID}}</p>
											<p>Nome: {{client.CustomerName}}</p>
											<p>E-mail: {{client.CustomerEmail}}</p>
											<p>Morada: {{client.BillingAddress.AddressDetail}}</p>
											<p>Número de Contribuinte: {{client.CustomerTaxID}}</p>
											<h6>Total de Vendas: {{client.NumberPurchases}}</h6>
											<a routerLink="/client/{{client.CustomerID}}" class="btn btn-primary" role="button">Details</a>
										</div>
										<div class="col-sm-5">
											<img src="{{image}}">
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div-->
<div *ngIf="data != null" style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="clients-grid"
        headerTitle="Clients"
        [items]="displayData"
        [itemCount]="count"
        (rowClick)="rowClick($event)"
        >
        <data-table-column
            [property]="'CustomerID'"
            [header]="'Code'"
            width="150px">
        </data-table-column>
        <data-table-column
            [property]="'CompanyName'"
            [header]="'Name'">
        </data-table-column>
        <data-table-column
            property="Telephone"
            header="Phone number">
        </data-table-column>
    </data-table>
</div>
