#info {
    width:30px;
    height:20px;
    background-color:white;
    opacity: 0.5;
    font-size: 20px;
    font-weight: 600;
    padding: 0px;
    text-align: center;
    border-width: 0px;
    color: gray;
    margin-bottom: 10px;
}

#info:hover{
    font-weight: bold;
    color: black;
}

div.col-5{
    margin-bottom: 10px;
    margin-top: 10px;
}

.table-responsive {height:700px;}

:host /deep/ .data-table-row {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-container{
  position: relative;
}

.search-container  i{
    position: absolute;
    padding: 10px;
    margin-top: 21px;
    pointer-events: none;

}

#search-bar {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #707070;
  box-shadow: none;
  text-shadow: none;
  padding-left: 30px;
  outline: none;
}
