<table style="margin-left: 20%; width:60%">
    <tr>
        <th>Client Code</th>
        <th>Name</th>
        <th>Total Sales YTD(€)</th>
    </tr>

	<div *ngFor="let client of data; let i=index" >
   		  <tr>
            <td>{{client.CustomerID}}</td>
            <td>{{client.CustomerName}}</td>
            <td>{{client.NumberPurchases}}</td>
        </tr>

        <tr style="border-bottom:1px solid #e6e6e6;">
        	<td id="clientInfo" colspan="3">
            	<button id="info" type="button" class="btn" data-toggle="collapse" data-target="#i">+</button>
            	<div id="i" class="collapse">
                	<div class="row">
                    	<div class="col-5">
                        	<p>Código: {{client.CustomerID}}</p>
                        	<p>Nome: {{client.CustomerName}}</p>
                        	<p>E-mail: {{client.CustomerEmail}}</p>
                        	<p>Morada: {{client.BillingAddress.AddressDetail}}</p>
                        	<p>Número de Contribuinte: {{client.CustomerTaxID}}</p>
                        	<h6>Total de Vendas: {{client.NumberPurchases}}</h6>
                    	</div>

                    	<div class="col-5">
                        <img src="{{image}}">
                    	</div>
                	</div>
            	</div>
        	</td>
    	</tr>
	</div>


<!--div data-ng-repeat="client in  ViewBag.clients">
    <tr>
        <td>@client.Client.CustomerID</td>
        <td>@client.Client.CustomerName</td>
        <td>10</td>
    </tr>

    <tr style="border-bottom:1px solid #e6e6e6;">
        <td id="clientInfo" colspan="3">
            <button id="info" type="button" class="btn" data-toggle="collapse" data-target="#@client.Client.CustomerTaxID">+</button>
            <div id="@client.Client.CustomerTaxID" class="collapse">
                <div class="row">
                    <div class="col-5">

                        <p>Código: @client.Client.CustomerID</p>
                        <p>Nome: @client.Client.CustomerName</p>
                        <p>E-mail: @client.Client.CustomerEmail</p>
                        <p>Morada: @client.Address</p>
                        <p>Número de Contribuinte: @client.Client.CustomerTaxID</p>
                        <h6>Total de Vendas: 10</h6>

                    </div>

                    <div class="col-5">
                        <img src="~/Images/avatar.jpg">

                    </div>
                </div>
            </div>
        </td>
    </tr>
</div-->

</table>
